.cards__container {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: auto;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #212121;
}

@media screen and (max-width: 1320px) {
  .cards__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
  }
}

@media screen and (max-width: 880px) {
  .cards__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    justify-items: center;
  }
}

.card__container {
  max-width: 413px;
  width: 100%;
}

.card__content {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.card__image {
  border-radius: 10px;
  max-height: 413px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__caption {
  margin: 0;
  font-weight: 500;
  line-height: 120%;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: none;
  border: 0;
  opacity: 40%;
}

.card__like-button_icon {
  max-width: 23px;
  max-height: 20px;
}
