.cards__container {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  gap: 20px;
}

.card__container {
  max-width: 413px;
}

.cards__caption {
  margin: 0;
}

.cards__image {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}
