.profile {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #212121;
  padding-bottom: 20px;
}

@media screen and (max-width: 630px) {
  .profile {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
}

.profile__content {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 20px;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "image image name name"
    "image image description ."
    "image image . . "
    "image image . . "
    "image image edit-profile .";
}

@media screen and (max-width: 630px) {
  .profile__content {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
  }
}

.profile__avatar {
  grid-area: image;
  border-radius: 10px;
}

@media screen and (max-width: 630px) {
  .profile__avatar {
    max-width: 80px;
    max-height: 80px;
  }
}

.profile__name {
  grid-area: name;
  margin: 0 0 12px;
  padding: 0;
  font-weight: 500;
  line-height: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 630px) {
  .profile__name {
    margin: 0;
    font-size: 20px;
  }
}

.profile__description {
  grid-area: description;
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 100%;
  opacity: 70%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__button_edit-profile {
  grid-area: edit-profile;
  display: flex;
  column-gap: 8px;
  color: #212121;
  font-size: 16px;
  line-height: 100%;
  opacity: 70%;
  background-color: #fcf5e5;
  border: none;
}

.profile__button_edit-profile:hover {
  opacity: 100%;
}

@media screen and (max-width: 630px) {
  .profile__button_edit-profile {
    margin: 32px 0 20px;
  }
}
.profile__button_new-post {
  background-color: #212121;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  font-weight: 500;
  line-height: 100%;
  color: #fcf5e5;
  align-self: flex-end;
  display: flex;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
}

.profile__button_new-post:hover {
  opacity: 80%;
}

@media screen and (max-width: 630px) {
  .profile__button_new-post {
    align-self: center;
    width: 100%;
  }
}

.profile__new-post_icon {
  max-width: 12px;
  max-height: 12px;
}
